<% layout('layout') -%>

<h2 class="subtitle">Add Patient Information</h2>

<div class="content">

	<h2>
		<button class="btn btn-default btn-lg"><span class="toggleForms" divId="new_patient">New Patient</span></button>
		<button class="btn btn-default btn-lg"><span class="toggleForms" divId="existing_patient">Existing Patient</span></button>
	</h2>


	<div class="forms content_forms" id="new_patient">
		<h2 style="text-align: left">Add a New Patient</h2>
	
		<form method="post" action="/new_patient">
			First Name:<br> <input class="textbox_forms" type="text" name="first_name"/><br><br>
			Last Name:<br> <input class="textbox_forms" type="text" name="last_name"/><br><br>
			Country of Origin:<br> <input class="textbox_forms" type="text" name="origin"/><br><br>
			Current Location:<br> <input class="textbox_forms" type="text" name="location"/><br><br>
			<!-- drop down -->
			Ethnic Background:<br> <input class="textbox_forms" type="text" name="ethnic"/><br><br>
			<!-- Drop down -->
			Languages Spoken:<br> <input class="textbox_forms" type="text" name="lang"/><br><br>
			<!-- Drop down -->
			Date of Birth:<br> <input class="textbox_forms" type="text" name="date_of_birth"/><br><br>
			Current Age:<br> <input class="textbox_forms" type="text" name="curr_age"/><br><br>
			Gender:<br> <input class="textbox_forms" type="text" name="gender"/><br><br>
	
			<input type="submit" value="Submit"/><br><br>
		</form>
	</div>

	<div class="forms content_forms" id="existing_patient">
		<h2 style="text-align: left">Find Existing Patient</h2>	
		<form method="get" action="/find_patient">
			First Name:<br> <input class="textbox_forms" type="text" name="first_name"/><br><br>
			Last Name:<br> <input class="textbox_forms" type="text" name="last_name"/><br><br>
			Date of Birth:<br> <input class="textbox_forms" type="text" name="date_of_birth"/><br><br>
			<input type="submit" value="Find"/><br><br>
		</form>
	</div>




	<!--Not using atm 
	<a href="ht_questionnaire"
	<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
		Harvard Trauma Questionnaire
	</button>
	</a>
	<br>
	<a href="hs_questionnaire"
	<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
		Hopkins Symptoms Checklist
	</button>
	</a>
	-->
	</div>





<script> 
    $(".toggleForms").bind("click", function() {
         $(".content_forms").hide();
         var divId = $(this).attr("divId");
        $("#" + divId).slideToggle('slow', function() {});
      //  $("#" + divId).show();
      });
</script>	



