<% layout('layout') -%>

	<h2 class="subtitle">Add Patient Information</h2>

	<div class> 
	<a href="/patients/new"
	<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
		New Patient
	</button>
	</a>

	<a href="/patients/find"
	<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
		Existing Patient
	</button>
	</a>
	</div>
	<!--Not using atm 
	<a href="ht_questionnaire"
	<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
		Harvard Trauma Questionnaire
	</button>
	</a>
	<br>
	<a href="hs_questionnaire"
	<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
		Hopkins Symptoms Checklist
	</button>
	</a>
	-->




