<% layout('layout') -%>

<div class="content">
	<form action="" method="post">
		<p>Username:</p>
		<input type="text" name="username" placeholder="Username">
		<p>Password:</p>
		<input type="password" name="password" placeholder="Password">
		<p>Please enter your password again:</p>
		<input type="password" name="verification_password" placeholder="Password">
		<p>First Name:</p>
		<input type="text" name="first_name" placeholder="">
		<p>Last Name:</p>
		<input type="text" name="last_name" placeholder="">
		<p>Email Name:</p>
		<input type="text" name="email" placeholder="yourname@example.com">
		<p>Phone Number:</p>
		<input type="text" name="phone_num" placeholder="1234567890">

		<br><br>
		<input type="submit" value="Log in">
	</form>
</div>

