<% layout('layout') -%>


<h1 class="subtitle">Dashboard</h1>
<div class="content">
<div class="row">
	<div class="btn-group" role="group" aria-label="...">


<!-- 		<a href="guide"
		<div class="home_nav">
		<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
			Quick Guide
		</button>
		</a>
		</div> -->

<!-- 		<a href="quick_guide"
		<div class="home_nav">
		<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
			Quick Guide
		</button>
		</a>
		</div> -->
<!-- 
		<div class="home_nav">
		<a href="manual"
		<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
			Manual
		</button>
		</a>
		</div> -->

		<div class="home_nav">
		<a href="add_patient_info"
		<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
			Add Patient Information
		</button>
		</a>
		</div>

		<div class="home_nav">
		<a href="view_patient_info"
		<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
			View Patient Information
		</button>
		</a>
		</div>
	</div>

	</div>
</div>