<% if user_signed_in? %>

	<h3>Harvard Trauma Questionnaire</h3>
	<h4>Part I: Trauma Events</h4>

	<!--YES/NO QUESTIONS-->

	 Lack of shelter

	 Lack of food or water

	 Ill health without access to medical care

	Confiscation or destruction of personal property

	Combat situation (e.g. shelling and grenade attacks)

	Forced evacuation under dangerous conditions

	Beating to the body

	Rape

	Other types of sexual abuse or sexual humiliation

	 Knifing or axing

	Torture, i.e., while in captivity you received deliberate and systematic infliction of physical or mental suffering
	(If YES, see Appendix)

	Serious physical injury from combat situation or landmine

	Imprisonment
	Forced labor (like animal or slave) 

	Extortion or robbery

	Brainwashing

	Forced to hide

	 Kidnapped 
	Other forced separation from family members

	Forced to find and bury bodies

	Enforced isolation from others

	Someone was forced to betray you and place you at risk of death or injury

	Prevented from burying someone

	Forced to desecrate or destroy the bodies or graves of deceased persons

	Forced to physically harm family member, or friend

	Forced to physically harm someone who is not family or friend

	Forced to destroy someone else's property or possessions

	Forced to betray family member, or friend placing them at risk of death or injury

	Forced to betray someone who is not family or friend placing them at risk of death or injury

	Murder, or death due to violence, of spouse

	Murder, or death due to violence, of  child

	 Murder, or death due to violence, of other family member or friend 
	 Disappearance or kidnapping of spouse 
	Disappearance or kidnapping of child

	 Disappearance or kidnapping of other family member or friend 
	Serious physical injury of family member or friend due to combat situation or landmine

	Witness beatings to head or body

	 Witness torture 
	Witness killing/murder

	 Witness rape or sexual abuse 
	 Another situation that was very frightening or in which you felt your life was in danger
	 
	 Specify:
	 
	 
	 
	 
	 
	 <h4>Part 2: Personal Description</h4>
	 Please indicate what you consider to be the most hurtful or terrifying events you have experienced, if any. Please specify where and when these events occurred.

	Under your current living situation (i.e. refugee camp, country of resettlement, returned from exile, etc.) what is the worst event that has happened to you, if different from above. Please  specify where and when these events occurred.


	<h4>Part 3: Head Injury</h4>
	1. Beatings to the head

	2. Suffocation or strangulation

	3. Near drowning

	4. Other types of injury to the   head (e.g. shrapnel, burns, etc.)

	<!--IF YES, loss of consciousness? (Y/N), how long?! (hours|mins)-->
	5. Starvation:
	If Yes: 

	Normal Weight: Starvation Weight:
	If Yes: Were you near death due to starvation? Y/N


	<h4>Part 4: Trauma Symptoms</h4>
	<!--On scale of 1.) Not at all
		2.) a little
		3.) quite a bit
		4.) Extremely -->

	Recurrent thoughts or memories of the most hurtful or terrifying events

	Feeling as though the event is happening again

	Recurrent nightmares

	Feeling detached or withdrawn
	 from people 
	Unable to feel emotions

	Feeling jumpy, easily startled

	Difficulty concentrating

	Trouble sleeping

	Feeling on guard

	Feeling irritable or having outbursts of anger

	Avoiding activities that remind you of the traumatic or hurtful event

	Inability to remember parts of the most hurtful or traumatic events 

	Less interest in daily activities

	Feeling as if you don’t have a future

	Avoiding thoughts or feelings associated with the traumatic or hurtful events

	Sudden emotional or physical reaction when reminded of the most hurtful or traumatic events

	Feeling that you have less skills than you had before

	Having difficulty dealing with new situations

	Feeling exhausted
	Bodily pain
	Troubled by physical problem(s)
	Poor memory
	Finding out or being told by other people that you have done something that you cannot remember

	Difficulty paying attention

	Feeling as if you are split into two people and one of you is watching what the other is doing

	Feeling unable to make daily plans

	 Blaming yourself for things that have happened
	 
	Feeling guilty for having survived

	Hopelessness

	Feeling ashamed of the hurtful or traumatic events that have happened to you

	Feeling that people do not understand what happened to you

	Feeling others are hostile to you

	Feeling that you have no one to rely upon 

	Feeling that someone you trusted betrayed you

	Feeling humiliated by your experience

	Feeling no trust in others

	Feeling powerless to help others

	Spending time thinking why these events happened to you

	Feeling that you are the only one that suffered these events

	Feeling a need for revenge
	 
	<h4>Part 5: Scoring Trauma Symptoms</h4>
	<!--Automatically add up item scores and divide by total number of answered times-->
	DSM-IV Score:
	<!-- Items 1-16 / 16-->

	Total Score: 
	<!--Items 1-40/40-->


	Note: Individuals w/ scores on DSM-IV and/or total > 2.5 are considered symptomatic for PTSD. see manual for additional info <!--PROVIDE LINK HERE-->



	<!--YES/NO-->
	<h4>Appendix: Torture History</h4>
	1.	Beating, kicking, striking with objects
	2.	Threats, humiliation
	3.	Being chained or tied to others
	4.	Exposed to heat, sun, strong light
	5.	Exposed to rain, body immersion, cold
	6.	Placed in a sack, box, or very small space
	7.	Drowning, submersion of head in water
	8.	Suffocation
	9.	Overexertion, hard labor
	10.	Exposed to unhygienic conditions conducive to infections or other diseases
	11.	Blindfolding
	12.	Isolation, solitary confinement. If yes, how long?
	13.	Mock execution
	14.	Made to witness other being tortured
	15.	Starvation
	16.	Sleep deprivation
	17.	Suspension from a rod by hands and feet
	18.	Rape, mutilation of genitalia
	19.	Burning
	20.	Beating the soles of the feet with rods
	Event
	21.	Blows to the ears
	22.	Forced standing
	23.	Throwingurine or feces at vistim or bieing made to throw it at other prisoners
	24.	Medicine administration (non-therapeutic)
	25.	Needles under toes or fingernails
	26.	Writing confessions numerous times
	27.	Shocked repeatedly by electric instrument
	28.	Other (specify)




<% else %>
  <div><h2>Please sign in to view content</h2></div>
<% end %>

 
 
  
