<!doctype html>
<html lang="en">
<head>
<title>HPRT Toolkit</title>



<!--FIXED STYLE SHEETS-->
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/application.css">

<link rel="SHORTCUT ICON" href="images/favicon.jpg" type="image/x-icon" />
<link rel="ICON" href="images/favicon.jpg" type="image/ico" />

<!--SCRIPTS-->
<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>

</head>

<body>	
	<!--NAVIGATION BAR-->
	<nav class="navbar navbar-default" role="navigation">
 		<div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		       	<span class="sr-only">Toggle navigation</span>
		       	<span class="icon-bar"></span>
		       	<span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		        
        <% if (isAuthenticated) { %> 
	        <a class="navbar-brand" href="home">
	        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
	        </a>
        <% }  %>


	        
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	           <a href="/quick_guide" class="navbar-form navbar-left" role="quick_guide">Quick Guide</a> 
	      <form class="navbar-form navbar-left" role="search">
	      
	      </form>


	     <ul class="nav navbar-nav navbar-right">
			<% if (!isAuthenticated) { %>

					<span class="account_link"><li class="nav_link active" id="login_toggle"><a href="#" data-toggle="modal" data-target="#login_modal">Log In</a></li></span>

			<% } else { %>
				<a href="/logout" class="nav_link">Log out</a>

			<% } %>

			<div id="login_modal" class="modal fade">
		    	<div class="modal-dialog">
		        	<div class="modal-content">
		          		<div class="modal-header">
		            		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		            		<h4 class="modal-title">Log In</h4>
		        		</div>
		         		<div class="modal-body">
		         			<form method="post" action="/login">
		         			<label>Username</label><br>
		         			<input class="textbox" type="text" name="username"><br><br>
		         			
		         			<label>Password</label><br>
		         			<input class="textbox" type="password" name="password"><br><br>
		         			<input class="btn btn-default textbox" type="submit" value="Log In"/><br><br>
		         			</form>
		  		        </div>
		        	</div>
		    	</div>
			</div>





	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<h1 class="title"><span style="color: rgb(80,80,80);">Harvard Program</span> in Refugee Trauma <span style="color: rgb(80,80,80);">|</span> <span class="title_highlight">Toolkit</span></h1>



	<%- body%>

<script type="text/javascript">
	$(document).ready(function(){
		$(".toggle-modal #login_toggle").click(function(){
			$("#login_modal").modal('toggle');
		});
	});
</script>





</body>


<!--FIXED FOOTER-->
<footer>
  <div id="wrap">
  <div id="footer">
  <div class="container"> 

<h5 class="footer_links"><a href="mailto:lucyzqin@gmail.com?subject=HPRT-Toolkit: Report an Error">Report an Error</a> |  
<a href="mailto:lucyzqin@gmail.com?subject=HPRT-Toolkit: I have a suggestion!">Make a Suggestion</a> | 
<a href="mailto:lucyzqin@gmail.com?subject=HPRT-Toolkit: Question">Ask a Question</a>
</h5>
<br>

<p class="footer-text">The Harvard Program in Refugee Trauma <br> Massachusetts General Hospital | Harvard Medical School
<br>22 Putnam Avenue, Cambridge, MA 02139
<br>Telephone:  +1.617.876.7879
<br>http:www.hprt-cambridge.org
</p>
<p class="footer-text">Developed by: Lucy Qin</p>
</div>
</div>
</div>
</footer>
</html>
</html>