<!doctype html>
<html lang="en">
<head>
<title>HPRT Toolkit</title>

<!--FIXED STYLE SHEETS-->
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/application.css">

<!--SCRIPTS-->
<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>

</head>

<%- body%>


<!--FIXED FOOTER-->
<footer>
  <div id="wrap">
  <div id="footer">
  <div class="container"> 

<h5="muted credit"> Suggestions? Questions? Need to Report an Error?
</h5><br>


<p class="footer-text">The Harvard Program in Refugee Trauma <br> Massachusetts General Hospital | Harvard Medical School
<br>22 Putnam Avenue, Cambridge, MA 02139
<br>Telephone:  +1.617.876.7879
<br>http:www.hprt-cambridge.org
</p>
<p class="footer-text">Developed by: Lucy Qin</p>
</div>
</div>
</div>
</footer>
</html>
</html>