<!DOCTYPE html>
<html>
<head>
<title>Log in</title>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/style.css"
<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>

</head>

<body>
	<form action="" method="post">
		<p>username:</p>
		<input type="text" name="username" placeholder="Username">
		<p>password:</p>
		<input type="password" name="password" placeholder="Password"><br><br>
		<input type="submit" value="Log in">
	</form>
</body>

</html>

