<% layout('layout') -%>

<div class="content">
<h2>Questionnaires</h2>

	<h2>
		<span class="toggle_forms" divId="ht_q">Harvard Trauma Questionnaire</span>
		<span class="toggle_forms" divId="existing_patient">Hopkins Symptoms Checklist</span>
	</h2>


	<div class="forms content_forms" id="ht_q">
		<h2 style="text-align: left">Add a New Patient</h2>
	
		<form method="post" action="/new_htq">
			<!-- First Name:<br> <input class="textbox_forms" type="text" name="first_name"/><br><br>
			Last Name:<br> <input class="textbox_forms" type="text" name="last_name"/><br><br>

			Location:<br> <input class="textbox_forms" type="text" name="location"/><br><br>
			Date of Birth:<br> <input class="textbox_forms" type="text" name="date_of_birth"/><br><br>
			Current Age:<br> <input class="textbox_forms" type="text" name="curr_age"/><br><br>
			Gender:<br> <input class="textbox_forms" type="text" name="gender"/><br><br>
	 -->
			<input type="submit" value="Submit"/><br><br>
		</form>
	</div>


	<div class="forms content_forms" id="hs_q">
		<h2 style="text-align: left">Add a New Patient</h2>
	
		<form method="post" action="/new_hsq">
			<!-- First Name:<br> <input class="textbox_forms" type="text" name="first_name"/><br><br>
			Last Name:<br> <input class="textbox_forms" type="text" name="last_name"/><br><br>

			Location:<br> <input class="textbox_forms" type="text" name="location"/><br><br>
			Date of Birth:<br> <input class="textbox_forms" type="text" name="date_of_birth"/><br><br>
			Current Age:<br> <input class="textbox_forms" type="text" name="curr_age"/><br><br>
			Gender:<br> <input class="textbox_forms" type="text" name="gender"/><br><br>
	
			<input type="submit" value="Submit"/><br><br> -->
		</form>
	</div>

</div>