<% layout('layout') -%>

<div class="content">
<h2>Questionnaires</h2>

	<h2>
		<span class="toggle_forms" divId="ht_q">Harvard Trauma Questionnaire</span>
		<span class="toggle_forms" divId="existing_patient">Hopkins Symptoms Checklist</span>
	</h2>


	<div class="forms content_forms" id="ht_q">
		<h2>Part I: Anxiety Symptoms</h2>		
		<div id="htq_part_1">

		</div>

		<div id="htq_part_2">
 		<h2>Part 2: Personal Description</h2>
 		<p> Please indicate what you consider to be the most hurtful or terrifying events you have experienced, if any. Please specify where and when these events occurred.

		Under your current living situation (i.e. refugee camp, country of resettlement, returned from exile, etc.) what is the worst event that has happened to you, if different from above? Please  specify where and when these events occurred.</p>
		<input type="text"><br><br>
		</div>

		<div id="htq_part_3">
			<h2>Part 3: Head Injury</h2>
			<p>1. Beatings to the head<p>
			<p>2. Suffocation or strangulation</p>
			<p>3. Near drowning</p>
			<p>4. Other types of injury to the head (e.g. shrapnel, burns, etc.)</p>
			<p>If yes, loss of consciousness?</p> <p>How long?</p>
			<p>5. Starvation:</p>
			<p>If Yes:</p>
			<p>Normal Weight:</p>
			<p>Starvation Weight:</p>
			<p>If Yes: Were you near death due to starvation?</p>
		</div>

		<div id="htq_part_4">
			<h2>Part 4: Trauma Symptoms</h2>
		</div>

		<input type="submit" value="Submit" onclick="submitData_ht()"/><br><br>

		<div id="htq_part_5">
			<h2>Part 5: Scoring Trauma Symptoms</h2>
		</div>


		

	
	<!-- 	<form method="post" action="/new_htq">
	 -->		<!-- First Name:<br> <input class="textbox_forms" type="text" name="first_name"/><br><br>
			Last Name:<br> <input class="textbox_forms" type="text" name="last_name"/><br><br>

			Location:<br> <input class="textbox_forms" type="text" name="location"/><br><br>
			Date of Birth:<br> <input class="textbox_forms" type="text" name="date_of_birth"/><br><br>
			Current Age:<br> <input class="textbox_forms" type="text" name="curr_age"/><br><br>
			Gender:<br> <input class="textbox_forms" type="text" name="gender"/><br><br>
	 -->
			

	</div>


	<div class="forms content_forms" id="hs_q">
		<h2 style="text-align: left">Add a New Patient</h2>

	
		<form method="post" action="/new_hsq">
			<!-- First Name:<br> <input class="textbox_forms" type="text" name="first_name"/><br><br>
			Last Name:<br> <input class="textbox_forms" type="text" name="last_name"/><br><br>

			Location:<br> <input class="textbox_forms" type="text" name="location"/><br><br>
			Date of Birth:<br> <input class="textbox_forms" type="text" name="date_of_birth"/><br><br>
			Current Age:<br> <input class="textbox_forms" type="text" name="curr_age"/><br><br>
			Gender:<br> <input class="textbox_forms" type="text" name="gender"/><br><br>
	
			<input type="submit" value="Submit"/><br><br> -->
		</form>
	</div>



<script>

    $(".toggle_forms").bind("click", function() {
         $(".content_forms").hide();
         var divId = $(this).attr("divId");
        $("#" + divId).slideToggle('slow', function() {});
      //  $("#" + divId).show();
      });



var ht_part1_q = ['Lack of shelter', 
	'Lack of food or water', 
	'Ill health without access to medical care',
	'Confiscation or destruction of personal property', 'Combat situation (e.g. shelling and grenade attacks)',
	'Forced evacuation under dangerous conditions',
	'Beating to the body',
	'Rape',
	'Other types of sexual abuse or sexual humiliation',
	'Knifing or axing',
	'Torture, i.e., while in captivity you received deliberate and systematic infliction of physical or mental suffering (If YES, see Appendix)',
	'Serious physical injury from combat situation or landmine',
	'Imprisonment',
	'Forced labor (like animal or slave)', 
	'Extortion or robbery',
	'Brainwashing',
	'Forced to hide',
	'Kidnapped', 
	'Other forced separation from family members',
	'Forced to find and bury bodies',
	'Enforced isolation from others',
	'Someone was forced to betray you and place you at risk of death or injury',
	'Prevented from burying someone',
	'Forced to desecrate or destroy the bodies or graves of deceased persons',
	'Forced to physically harm family member, or friend',
	'Forced to physically harm someone who is not family or friend',
	'Forced to destroy someone else\'s property or possessions',
	'Forced to betray family member, or friend placing them at risk of death or injury',
	'Forced to betray someone who is not family or friend placing them at risk of death or injury',
	'Murder, or death due to violence, of spouse',
	'Murder, or death due to violence, of child',
	'Murder, or death due to violence, of other family member or friend', 
	'Disappearance or kidnapping of spouse', 
	'Disappearance or kidnapping of child',
	'Disappearance or kidnapping of other family member or friend',
	'Serious physical injury of family member or friend due to combat situation or landmine',
	'Witness beatings to head or body',
	'Witness torture',
	'Witness killing/murder',
	'Witness rape or sexual abuse', 
	'Another situation that was very frightening or in which you felt your life was in danger'];

var ht_part4_q = [
	'Recurrent thoughts or memories of the most hurtful or terrifying events',
	'Feeling as though the event is happening again',
	'Recurrent nightmares',
	'Feeling detached or withdrawn from people', 
	'Unable to feel emotions',
	'Feeling jumpy, easily startled',
	'Difficulty concentrating',
	'Trouble sleeping',
	'Feeling on guard',
	'Feeling irritable or having outbursts of anger',
	'Avoiding activities that remind you of the traumatic or hurtful event',
	'Inability to remember parts of the most hurtful or traumatic events ',
	'Less interest in daily activities',
	'Feeling as if you don’t have a future',
	'Avoiding thoughts or feelings associated with the traumatic or hurtful events',
	'Sudden emotional or physical reaction when reminded of the most hurtful or traumatic events',
	'Feeling that you have less skills than you had before',
	'Having difficulty dealing with new situations',
	'Feeling exhausted',
	'Bodily pain',
	'Troubled by physical problem(s)',
	'Poor memory',
	'Finding out or being told by other people that you have done something that you cannot remember',
	'Difficulty paying attention',
	'Feeling as if you are split into two people and one of you is watching what the other is doing',
	'Feeling unable to make daily plans',
	'Blaming yourself for things that have happened',
	'Feeling guilty for having survived',
	'Hopelessness',
	'Feeling ashamed of the hurtful or traumatic events that have happened to you',
	'Feeling that people do not understand what happened to you',
	'Feeling others are hostile to you',
	'Feeling that you have no one to rely upon',
	'Feeling that someone you trusted betrayed you',
	'Feeling humiliated by your experience',
	'Feeling no trust in others',
	'Feeling powerless to help others',
	'Spending time thinking why these events happened to you',
	'Feeling that you are the only one that suffered these events',
	'Feeling a need for revenge'
	]

	// HARVARD TRAUMA QUESTIONNAIRE - PART 1
	for (var i = 0; i < ht_part1_q.length; i++) {
		var num = i + 1;
		$('#htq_part_1').append('<p>' + num + '.) ' + ht_part1_q[num] + '</p><input type="radio" name="partI_radio_' + num + ' value="yes">Yes ' + '<input type="radio" id="partI_radio_' + num + ' value="no">No<br><br>' );
	}

	$('#htq_partI').append('<p>Specify:</p><input type="text"><br><br>');

	// HARVARD TRAUMA QUESTIONNAIRE - PART 4
	for (var i = 0; i < ht_part4_q.length; i++) {
		var num = i + 1;
		$('#htq_part_4').append('<p>' + num + '.)' + ht_part4_q[num] + '</p><input type="radio" name="part4_radio_' + num + ' value="1">Not at all<br><input type="radio" name="part4_radio_' + num + 'value="2">A little<br><input type="radio" name="part4_radio' + num + 'value="3">Quite a bit<br><input type="radio" name="part4_radio' + num + 'value="4">Extremely<br><br>')
	}


	function submitData_ht() {
		for (var i = 0; i < ht_part1_q.length; i++) {
			var num = i + 1;
			var checked_radio = $('input:radio[name=partI_radio_' + num + ']:checked').val();
			console.log("checked_radio: " + checked_radio)
		}

		for (var i = 0; i < ht_part4_q.length; i++) {
			var checked_radio = $('input:radio[name=part4_radio_' + num + ']:checked').val();
			console.log("checked radio:" + checked_radio);
		}
	}


</script>






