
<% layout('layout') -%>

	<h1>Quick Guide</h1>

		 <div id="0" onclick="displayInfo(0)"><h4>1. Ask</h4></div>
		 <div id="1" onclick="displayInfo(1)"><h4>2. Identify</h4></div>
		 <div id="2" onclick="displayInfo(2)"><h4>3. Diagnose & Treat</h4></div>
		 <div id="3" onclick="displayInfo(3)"><h4>4. Refer</h4></div>  
		 <div id="4" onclick="displayInfo(4)"><h4>5. Reinforce & Teach</h4></div>
		 <div id="5" onclick="displayInfo(5)"><h4>6. Recommend</h4></div>  
		 <div id="6" onclick="displayInfo(6)"><h4>7. Reduce</h4></div>
		 <div id="7" onclick="displayInfo(7)"><h4>8. Be Culturally Attuned</h4></div>  
		 <div id="8" onclick="displayInfo(8)"><h4>9. Prescribe</h4></div>
		 <div id="9" onclick="displayInfo(9)"><h4>10. Close & Schedule</h4></div>
		 <div id="10" onclick="displayInfo(10)"><h4>11. Prevent Burnout</h4></div>


	<!--SCRIPTS-->
	<script src="js/guide.js"></script>
    
