<% layout('layout') -%>
<style>
 button {
 	margin: 5px;
 }	

</style>


<div class="content">
	<button type="button" class="btn btn-default btn-lg"><a href="/guide">11-Point Toolkit</a></button> <br>
	<button type="button" class="btn btn-default btn-lg"><a href="/hs_q">Hopkins Symptom Checklist</a></button> <br>
	<button type="button" class="btn btn-default btn-lg"><a href="/ht_q">Harvard Trauma Questionnaire</a></button> <br>
</div>