<% layout('layout') -%>

<h1 class="subtitle">Hello, <span id="user"></span></h1>

<div class="content">
	<form action="" method="post">

		<label>First Name:</label><br>
		<input type="text" name="first_name" placeholder=""><br>
		<label>Last Name:</label><br>
		<input type="text" name="last_name" placeholder=""><br>
 		<label>Password:</label><br>
		<input type="password" name="password" placeholder="Password"><br>
		<label>Confirm Password:</label><br>
		<input type="password" name="verification_password" placeholder="Password"><br>
		<label>Verification Code:</label><br>
		<input type="text" name="ver_code"><br>
		
		<label>Phone Number:</label><br>
		<input type="text" name="phone_num" placeholder="1234567890"><br>

		<br><br>
		<input type="submit" value="Log in">
	</form>
</div>



<script> 
var userObject = <%- JSON.stringify(user) %>;

var username = userObject['id'];

$("#user").append(userObject['id']);

 </script>